.container-dados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  border-radius: 8px;
}
.container-dados h2 {
  margin: 16px 0;
  font-size: 39px;
}
.container-dados span {
  margin-bottom: 16px;
  font-weight: bold;
}

.list-group-item span {
  display: block;
  width: 100%;
}
